* {
  padding: 0;
  margin: auto 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  color: rgba(255, 214, 0, 1);
}
p,
li {
  font-family: "Roboto Flex", sans-serif;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.headerbackground {
  margin: auto 0;
  min-height: 40%;
  width: 100%;
  background: url("./star-wars.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headerbackground h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-top: 3%;
  margin-left: 2%;
}
main {
  background-color: #424242;
  display: flex;
  justify-content: center;
  margin: auto 0;
  width: 100%;
  height: 40rem;
  gap: 6%;
}
.main-section {
  margin: 0;
  z-index: 2;
  position: relative;
  top: -8%;
  width: 35%;
  min-width: fit-content;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  min-height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.main-section h2 {
  padding: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
.loadingbox {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  border: 3px solid rgb(236, 232, 232);
  border-top: 3px solid rgba(83, 85, 86, 1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#characters {
  background-color: rgba(196, 196, 196, 1);
}
#characters h2 {
  background-color: rgba(83, 85, 86, 1);
}

#details h2 {
  background-color: rgba(116, 134, 135, 1);
}
#detailsInfoTop {
  background-color: rgba(196, 196, 196, 1);
  min-height: 44%;
  display: flex;
  flex-direction: column;
}
#details {
  min-height: 100%;
  max-height: 640px;
  overflow: hidden;
}
#detailsInfoBottom {
  color: white;
  background-color: rgba(142, 142, 142, 1);
}
#characterList > * {
  padding: 0.5rem;
  list-style: none;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
#characterList :nth-child(1) {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#characterList :nth-child(even) {
  background-color: rgba(225, 222, 222, 1);
  color: rgba(83, 85, 86, 1);
}

#characterList :nth-child(odd) {
  background-color: rgba(142, 142, 142, 1);
  color: rgba(255, 255, 255, 1);
}
.active {
  background-color: #444444 !important;
  color: #ffffff !important;
}
#detailsList,
#detailsListBottom {
  margin: 0;
  list-style: none;
  letter-spacing: 0.25rem;
  padding-left: 0.5rem;
}
#detailsListBottom {
  height: 210px;
  overflow-y: auto;
  scrollbar-width: thin;
  max-width: inherit;
  padding-bottom: 0.5rem;
}
#detailsListBottom > * {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 350px;
}
#nameHeader,
#planetHeader {
  margin: 0.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
}
footer {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.875rem;
  letter-spacing: 0.4rem;
}
footer svg {
  cursor: pointer;
}
.detailsInfoBottomNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
}
.detailsButtons {
  z-index: 3;
  position: relative;
  top: -32px;
  color: rgba(140, 118, 0, 1);
  border: none;
  width: 5rem;
  height: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
  letter-spacing: 0.18rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.detailsButtonsActive {
  background-color: rgba(142, 142, 142, 1);
}
